[submodule "_gallery"]
	path = _gallery
	url = https://github.com/Angeloth1/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/Angeloth1/_quotes
[submodule "images"]
	path = images
	url = https://github.com/Angeloth1/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/Angeloth1/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/Angeloth1/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/Angeloth1/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/Angeloth1/text
